<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>HERO Super Sightings - Organizations</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1>Organizations</h1>
                </div>
            </div>

            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="home" class="btn btn-outline-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="supers" class="btn btn-outline-primary btn-lg">Supers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="powers" class="btn btn-outline-primary btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
                </div>
            </div>

            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Add Organization</span>
                </div>
                <div class="col-7 text-center m-3">
                    <div class="col-12 m-1 text-center"
                        th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}"
                            th:text="${error.message}">Error message</p>
                    </div>
                    <form action="addOrganization" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name"
                                       id="name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description"
                                       id="description" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-3 col-form-label">
                                Address</label>
                            <div class="col-9">
                                <input type="text" name="address"
                                       id="address" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-3 col-form-label">
                                Phone</label>
                            <div class="col-9">
                                <input type="text" name="phone"
                                       id="phone" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-3 col-form-label">
                                Email</label>
                            <div class="col-9">
                                <input type="text" name="email"
                                       id="email" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="isHeroic" class="col-3 col-form-label">
                                Heroic?</label>
                            <div class="row">
                                <input type="radio" name="isHeroic" value="Yes"
                                       id="isHeroic" class="form-control" required/> Yes
                                <input type="radio" name="isHeroic" value="No"
                                       id="isNotHeroic" class="form-control" required/> No
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="isVillainous" class="col-3 col-form-label">
                                Villainous?</label>
                            <div class="row">
                                <input type="radio" name="isVillainous" value="Yes"
                                       id="isVillainous" class="form-control" required/> Yes
                                <input type="radio" name="isVillainous" value="No"
                                       id="isNotVillainous" class="form-control" required/> No
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="supers" class="col-3 col-form-label">
                                Supers</label>
                                <div class="col-9">
                                    <select multiple id="supers" name="supers" class="form-control" >
                                        <option th:each="super : ${allSupers}"
                                                th:value="${super.superId}"
                                                th:text="${super.name}">
                                            Supers</option>
                                    </select>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Organization</button>
                    </form>
                </div>
            </div>

            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Heroic?</th>
                                <th>Villainous?</th>
                                <th>Supers</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="organization : ${organizations}">
                                <td th:text="${organization.organizationId}">Organization ID</td>
                                <td th:text="${organization.name}">Name</td>
                                <td th:text="${organization.description}">Description</td>
                                <td th:text="${organization.address}">Address</td>
                                <td th:text="${organization.phone}">Phone</td>
                                <td th:text="${organization.email}">Email</td>
                                <td th:text="${isHeroic.get(organization)}">Heroic?</td>
                                <td th:text="${isVillainous.get(organization)}">Villainous?</td>
                                <td>
                                    <ul th:each="super : ${organization.supers}">
                                        <li th:text="${super.name}">Super Name</li>
                                    </ul>
                                </td>
                                <td><a href="#" th:href="@{/editOrganization(organizationId=${organization.organizationId})}">Edit</a></td>
                                <td><a href="#" th:href="@{/deleteOrganization(organizationId=${organization.organizationId})}">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
